.fantrax_fantasyadp {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    margin-bottom: 1em;
    border: none;
}

.fantrax_fantasyadp thead th {
    background-color: #d9edf7;
    font-weight: 700;
    vertical-align: middle;
    text-align: left;
    float: none!important;
}